.my_reports_add_button {
  padding: 7px 15px;
}

.my_reports_select_all {
  button {
    height: 34px;
  }
}

.my-reports-card-content {
  &:last-child {
    padding-bottom: 0px;
  }
}

.no-content-paper {
  padding-top: 30px;
  height: calc(100vh - 150px);
}
