@import "../../assets/custom/scss/helpers/variables";
@import "../../assets/custom/scss/helpers/mixins";

.my_reports_add_button {
  padding: 7px 15px;
}

.my_reports_select_all {
  button {
    height: 34px;
  }
}

.my-reports-card-content {
  &:last-child {
    padding-bottom: 0px;
  }
}

.no-content-paper {
  padding-top: 30px;
  height: calc(100vh - 150px);
}

.report_card {
  height: calc(100% - 20px);
  margin: 10px;
  position: relative;

  &.focus_highlight {
    border: 2px solid $primary;

    .MuiChip-root {
      color: $primary;
      border: 1px solid $primary;
    }
  }

  .MuiCardHeader-root {
    padding: 10px 16px;
  }

  .MuiCardContent-root {
    padding: 10px 16px;

    p {
      height: 350px;
      overflow: hidden;
    }
  }

  .MuiChip-root {
    color: $dark-grey;
  }

  .MuiCheckbox-root {
    float: right;
  }

  .highlighted_text {
    padding: 0.2em 0;
    background-color: lighten($light, 20%);
  }

  span {
    @include add_enters();
  }

  .MuiCardActions-root {
    background-color: inherit;
    position: absolute;
    width: 100%;
    bottom: 0;

    button {
      padding: 5px 7px;
      margin: 0 5px;
    }
  }
}

@media only screen and (max-width: map-get($breakpoints, sm)) {
  .report_card {
    .MuiCardContent-root {
      padding-bottom: 55px;

      p {
        height: auto;
        max-height: 350px;
      }
    }
  }
}
