@import "../helpers/_variables";
@import "../components/tweetsByTopicTable";

.report_input {
  width: 100%;

  .MuiMenu-list {
    max-height: 100px;
  }
}

.data_selection_dropbox {
  width: 100%;
  padding-right: 10px;
  margin-bottom: 30px;
}

.data_selection_tweets_by_topic {
  border: 0 !important;

  tbody {
    @extend tbody;
    // max-height: 400px;
  }
}

.tweets_topics_title {
  width: calc(100% - 155px);

  h5 {
    width: 100%;
  }
}

@media only screen and (max-width: map-get($breakpoints, sm)) {
  .tweets_topics_title {
    width: calc(100% - 60px);

    h5 {
      width: 100%;
    }
  }
}

@media only screen and (min-device-width: 425px) {
  .add_button_size {
    width: 100%;
    font-size: 30px;
  }

  .form_col_box {
    margin: 0 0 0 0;
  }
}

@media only screen and (max-width: 425px) {
  .add_button_size {
    width: 100%;
    font-size: 28px;
  }

  .form_col_box {
    margin: 0;
  }
}

/* SKELETON */
.data_selection_skeleton_container {
  .MuiGrid-item {
    margin-bottom: 10px;
    width: 100%;
  }

  .data_selection_skeleton_button {
    height: 60px;

    .MuiSkeleton-root {
      margin: 10px auto 10px auto;
    }
  }

  .data_selection_skeleton_left {
    .MuiGrid-item {
      padding-right: 10px;
      margin-bottom: 0;
    }
  }

  .data_selection_skeleton_right {
    .MuiGrid-item {
      padding-left: 10px;
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: map-get($breakpoints, md)) {
  .data_selection_skeleton_container {
    .data_selection_skeleton_left,
    .data_selection_skeleton_right {
      .MuiGrid-item {
        padding: 0px;
      }
    }

    .data_selection_skeleton_button {
      padding-left: 10px;
    }
  }
}
