.emotion_analyzer {
  .download_button {
    padding-right: 18px;
    padding-left: 2px;
    margin: 0 10px;
    float: right;

    svg {
      margin: 0 10px 0;
      font-size: medium;
    }
  }

  .emotion_group_btn {
    margin: 10px;

    .button_selected {
      background-color: $primary;
      color: white;
    }
  }

  .card_container {
    padding: 10px;

    .MuiCard-root {
      height: calc(100% - 10px);
      padding: 10px 10px 0;

      a {
        color: black;
        font-weight: 500;
      }

      p {
        @include add_enters();
      }
    }
  }
}

.select_tweet_topics {
  width: calc(100% - 125px);

  .MuiFormControl-root {
    width: calc(100% - 20px);
    margin: 5px 10px;
  }
}

.select_tweet_topic_btn {
  margin: 5px 10px;
  width: calc(100% - 20px);
}

@media only screen and (max-width: map-get($breakpoints, sm)) {
  .select_tweet_topic_btn {
    margin: 15px 0;
    width: 100%;
  }
}

.select_algorithm_emotion_analyzer {
  margin: 10px;

  .emotion_analyzer_umbral {
    max-width: 65px;

    .MuiInputBase-input {
      padding: 15px 10px;
      text-align: center;
    }
  }

  .select_executed_algorithms {
    width: calc(100% - 65px);

    .MuiFormControl-root {
      width: calc(100% - 20px);
      margin: 5px 10px;
    }
  }
}
