.my_reports_title {
    width: calc(100% - 166px);

    h1 {
        width: calc(100% - 152px);
    }
}

.my_reports_add_button {
    padding: 7px 15px;
}

.my_reports_divider {
    margin: 5px 0 20px;
}

.my_reports_delete_button {
    padding: 5px 12px;
    min-width: 50px;
    margin: 0 10px;
}

.my_reports_select_all {
    button {
        height: 34px;
    }
}

.my_reports_no_content {
    padding: 15px 30px;
    margin: 20px 10px;
    background-color: lighten($warning, 42%);
    border-radius: 4px;
}