.edit_report_panel_form {
    margin-top: 30px;
    padding: 30px 45px 8px;

    .danger {
        p {
            font-weight: 500;
        }
    }
}

@media only screen and (max-width : map-get($breakpoints, md)) {
    .edit_report_panel_form {
        padding: 15px 18px 8px;
    }
}

.add_new_report {
    display: flex;
    top: -20px;
    position: relative;

    button {
        background-color: $success;
        color: white;
        margin: auto;
        padding: auto;
        width: 42px;
        height: 42px;

        &:hover {
            background-color: lighten($success, 10%) !important;
        }
    }
}

.report_box_form {

    &,
    .MuiFormControl-root {
        width: 100%;
        height: 100%;
    }

    .edit_content {
        margin-top: 16px;
        border: 1px solid #c3c3c3;
        border-radius: 5px;
        padding: 0;

        &:hover {
            border: 1px solid black;
            border-radius: 5px;
        }

        &:active,
        &:focus,
        &:focus-within {
            border-width: 2px;
            border-color: $primary;

            .edit_label {
                color: $primary;
            }
        }

        &[aria-invalid='true'] {

            &,
            &:hover,
            &:focus {
                border-color: red !important;
            }

            label {
                color: red !important;
            }
        }

        textarea {
            min-height: 200px;
            margin-top: 0;
            border-top: none;
            height: unset;
            resize: none;
        }

        .edit_label {
            margin-bottom: 0;
            transform: translate(13px, -14px) scale(0.85);
            background: white;
            padding-right: 5px;
            padding-left: 5px;
            height: 14px;
            color: rgba(black, 0.6);
        }
    }

    .error {
        padding: 5px;
        height: 25px;
    }

    .language_buttons {
        margin-bottom: 25px;
    }
}