@import "../../../assets/custom/scss/helpers/_variables";

.list-header-title {
  .MuiTypography-root {
    font-family: $second-font;
    font-display: swap;
    font-weight: 600;
    color: $dark-grey;
  }
}
