.emotion_analyzer {
  .card_container {
    padding: 10px;

    .MuiCard-root {
      height: calc(100% - 10px);
      padding: 10px 10px 0;

      a {
        color: black;
        font-weight: 500;
      }

      p {
        @include add_enters();
      }
    }
  }
}
