@import "../../../assets/custom/scss/helpers/_variables";

.chip-chart {
  min-width: 50px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  .MuiChip-label {
    color: white;
    font-weight: 500;
  }
}

.top-legend {
  display: inline-flex;
  align-items: center;
}

.top-legend-width {
  width: 100%;
}

@media only screen and (max-width: map-get($breakpoints, lg)) {
  .top-legend-width {
    width: 50%;
  }
}
