@import "assets/custom/scss/helpers/_variables";

.paginator_form_control {
  float: right;
  margin-top: $spacing * 2;
  margin-right: 0;

  .MuiSelect-select {
    min-height: 15px;
    min-width: 110px;
    padding: 10px 10px !important;
  }
}

.pagination_numbers {
  margin-top: $spacing * 2.5;
  width: 100%;
}

.paginator_container {
  justify-content: space-between;
}

@media only screen and (max-width: map-get($breakpoints, sm)) {
  .pagination_numbers {
    margin-top: $spacing * 3;
    width: 100%;

    ul {
      padding: 0;
      display: table;
      width: 100%;
    }

    li {
      display: table-cell;
    }
  }
}
