/* Color font
___________________________________ */

$primary: #4c8abd !default;
$secondary: #92648c !default;
$success: #4ba471 !default;
$info: #172b32 !default;
$warning: #ff8400 !default;
$danger: #f44336 !default;
$light: #9fadbd !default;
$dark: #011b31 !default;
$grey: #999999 !default;
$lightShade: #f6f3f6;

/* Secondary Colors
___________________________________ */

$dark-grey: #4e4e4e;
$main-grey: #666;
$grey: #f1f1f1;
$light-grey: #ececec;
$white: #fff;
$black: #000;

/* Extra Colors
___________________________________ */
$light-orange: #f4845f;
$orange: #ec5d32;
$dark-orange: #e94615;

$light-green: #18b495;
$green: #16a286;
$dark-green: #138d75;

$light-purple: #ca99c3;
$purple: #ae7ea7;
$dark-purple: #92648c;

$light-red: #f44336;
$red: #d0191d;
$dark-red: #ac0002;

$light-blue: #00b2d6;
$blue: #0088a3;
$dark-blue: #0099b8;

/* Font
___________________________________ */

$first-font: "Roboto", sans-serif;
$second-font: "Open Sans", sans-serif;
$third-font: "Open Sans Condensed", sans-serif;
$spacing: 8px;

/* Screen size
___________________________________ */

$breakpoints: (
  xs: 0px,
  sm: 600px,
  md: 960px,
  lg: 1280px,
  xl: 1920px,
);
