.my_tweet_tweets_by_topic {
    &.tweets_by_topic {
        tbody {
            height: 500px;
        }
    }
}

.my_tweets_tab_panel {
    .MuiBox-root {
        padding-top: 0;
        padding-bottom: 0;
        max-width: 100%;
        width: 100%;
    }
}

@media only screen and (max-width : map-get($breakpoints, sm)) {
    .my_tweets_tab_panel {
        margin-top: 30px;

        .MuiBox-root {
            padding: 0;
            max-width: 800px;
            margin: auto;
        }
    }
}