.color_description_container {
  font-size: small;
  margin: 15px 0;

  .color_description_item {
    padding: 0;
    min-width: 107px;
    max-width: 107px;

    svg {
      margin-right: 5px;
      margin-left: 5px;
    }

    p {
      margin: 1px 0 1px 0;
    }
  }
}
