@import '../../../../custom/scss/helpers/variables';

// Bootstrap brand color customization
$brand-primary: $primary !default;
$brand-success: $success !default;
$brand-danger: $danger !default;
$brand-warning: $warning !default;
$brand-info: $info !default;
$brand-rose: $secondary !default;