/* PROPIOS DEL CAROUSEL */
button.slick-arrow.slick-prev,
button.slick-arrow.slick-next {
  width: 65px;
  opacity: 1;

  &::before {
    opacity: 1;
    color: $secondary;
  }
}

.slick-slider {
  margin-bottom: 60px;
}

.slick-list {
  width: calc(100% - 50px);
  margin: auto;
}

.slick-track {
  height: 380px;
}

.slick-slide>div {
  height: 100%;
}

.slick-cloned {
  display: none;
}

.slick-dots {
  bottom: -30px;

  li.slick-active button:before,
  li button::before {
    color: $secondary;
    opacity: 0.5;
    box-shadow: none;
  }

  li.slick-active button:before {
    color: $secondary;
    opacity: 1;
  }
}

/* PANTALLA DE REPORTS */
.reports_carousel_add_btn {
  margin: 10px 5px;

  button {
    float: right;
  }
}

.reports_carousel_info_box {
  width: calc(100% - 50px);
  margin: auto;
}

.reports_carousel_title {
  width: calc(100% - 166px);
  padding: 0 5px;

  h5 {
    width: 100%;
  }
}

.reports_carousel_selected_title {
  margin: 10px 5px;
  justify-content: flex-end;
  align-items: center;
  display: flex;

  .MuiTypography-root {
    padding: 5px 8px;
  }
}

.reports_carousel_report_card {
  .MuiCardContent-root {
    p {
      height: 200px !important;
    }
  }
}

@media only screen and (max-width : map-get($breakpoints, sm)) {
  .reports_carousel_title {
    width: calc(100% - 60px);

    h5 {
      width: 100%;
    }
  }

  .reports_carousel_add_btn {
    button {
      padding: 6px 10px;
      min-width: fit-content;
    }
  }
}