.custom_footer {
    background-color: $dark;
    width: 100vw;

    .footer_description {
        padding: 20px 40px;
    }

    .footer_col {
        padding: 40px 20px;
        width: 155px;

        hr {
            background-color: $primary;
            width: 45px;
            height: 2px;
            margin: 0 auto 5px;
        }

        a:hover {
            color: lighten($dark-grey, 10%);
        }
    }
}

@media only screen and (max-width: map-get($breakpoints, md)) {
    .custom_footer {
        .footer_description {
            text-align: center;
        }

        .footer_col {
            padding: 30px 0px;
            width: 130px;

            p {
                line-height: 2.2em;
            }
        }
    }
}