.language_buttons {
    padding: 0 5px;
    margin-top: 16px;
    margin-bottom: 8px;

    .MuiGrid-item {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    legend {
        margin: 0;
    }

    .MuiTypography-body1 {
        color: black !important;
        background-color: transparent;
    }

    .MuiTypography-caption {
        line-height: 1;
    }

    .MuiRadio-colorSecondary.Mui-checked {
        color: $primary;
    }
}