.tweets_with_scores_table {
  max-width: 1170px;
  margin: 10px auto auto auto;
  @include table_head_clickeable_buttons;

  thead {
    th {
      text-align: center;
      align-items: center;
      margin-right: 5px;

      button {
        padding: 5px 8px;
      }
    }
  }

  tbody {
    max-height: 450px;

    td {
      vertical-align: middle;
      text-align: center;

      &.tweets_column {
        text-align: justify !important;
      }
    }
  }
}

.fake_tweets_with_scores_container {
  max-width: 950px;
  padding: 0 3%;
  margin: auto;
  margin-top: 20px;

  table {
    @include table_head_clickeable_buttons;
  }
}
