@import '../../custom/scss/helpers/variables';

$primary-color: $primary;
$secondary-color: $secondary;
$success-color: $success;
$info-color: $info;
$warning-color: $warning;
$danger-color: $danger;
$light-color: $light;
$dark-color: $dark;
$grey-color: $grey;

$image-path: '../../img';